html, body {
    overflow: hidden;
    font-family: "Comic Sans MS", "微軟正黑體", "Microsoft JhengHei", sans-serif;
    font-weight: bold;
}

#user-template {
    display: none;
}

#user p, #user td {
    font-size: 2.5rem;
}

.circular {
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
}

.btn-start {
    visibility: hidden;
}

#main-table {
    width: 80vw;
}

.main-block {
    margin: auto;
}

.preload {
    display: none;
}

.result {
    width: 100%;
}

.result-pic {
    max-width: 30vw;
    max-height: 50vh;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    padding: 0.5vh 0.5vw 0.5vh 0.5vw;
}

section#user.user table tbody tr#pic-area th {
    padding: 0 10px 0 10px;
}

table {
    margin: auto;
}

table tr th {
    font-size: 3rem;
}

.god {
    border: 3px solid #CD0505;
}

.emoji {
    margin-bottom: 0;
    font-size: 4rem;
}

.user-content {
    padding-top: 1vh;
}

td {
    text-align: center;
    padding-left: 3vw;
    padding-right: 3vw;
}

#user-img {
    width: 30%;
}

#user table {
    width: 100%;
    table-layout: fixed;
}

body {
    background: url(/pic/bg.jpg) no-repeat fixed;
    background-position: bottom 0px right 0px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

img {
    background: #fff;
    background-clip: padding-box;
}